
nav{
  background-color: black;
  color: white;
  #nav-head{
    margin-left: 20px;
    a{
      font-family: cursive;
      font-size: 28px;
    }
  }
  #navi{
    li{
      margin-left: 20px;
      margin-right: 10px;
    }
    a{
      color: white;
      font-family: sans-serif;
      font-size: 18px;
      letter-spacing: 0.3px ;
    }
    a:hover{
      color: blue;
    }
  }
}
#Bio{
  background-image: url('../img/Nyssa_03.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
  min-height:400px;
  h1{
    margin-top: 40px;
    text-align: center;
  }
  p{
    font-size: 16px;
    letter-spacing: 0.3px ;
    margin-top: 20px;
    padding: 2%;
    text-align: justify;
    span{
      font-size: 14px;
      font-style: italic;
    }
  }
}
#collection{
  h1{
    margin-top: 40px;
    text-align: center;
  }
}
.collect{
  padding: 20px;
  h2{
    text-align: center;
  }
  img{
    margin: 1%;
    border-color: black;
    border-style: double;
    border-width: 10px;
    width: 100%;
  }
  img:hover{
    background-color: black;
  }
}
#contact{
  h1{
    margin-top: 40px;
    text-align: center;
  }
  p{
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }
  form{
    background-color: rgb(230, 230, 230);
    border-color: black;
    border-radius: 30px;
    border-style:solid;
    border-width: 0.5px;
    max-width: 800px;
    margin: 0 auto;
    min-height: 350px;
    padding: 30px;
    label{
      font-weight: bold;
    }
  }
  .social-media{
    margin: 0 auto;
    max-width:800px;
    padding: 0, 5%;
    img{
      width: 20%;
      margin: 2%;
    }
  }
}
footer{
  background-color: black;
  height: 100px;
  p{
    color: white;
    margin-top: 5%;
    text-align: center;
  }
}
@media only screen and (max-width: 740px) {
  #contact{
    form{
      padding: 40px;
    }
    .social-media{
      img{
        margin: 12px;
      }
    }
  }
}
@media only screen and (max-width: 620px) {
  #Bio{
    h1{
      margin-top: 20px;
    }
    p{
      margin-top: 20px;
    }
  }
  .collect{
    padding: 1%;
  }
  #contact{
    .social-media{
      img{
        margin: 5px;
      }
    }
  }
}
